.project-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.project-type {
    font-style: italic;
}

.project-text {
    max-width: 420px;
    text-align: justify;
    color: #ccc;
}

.project-button {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    gap: 10px;
}

.project-button a {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    text-decoration: none;
    background-color: var(--color-black);
    transition: var(--transition-transform-color);
}

.project-button a:hover {
    color: var(--color-black);
    background-color: var(--color-lightblue);
    transition: var(--transition-transform-color);
}

.projects-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.project {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 80px;
    flex-wrap: wrap;
    transition: var(--transition-transform-color);
}

.project:hover .project-title {
    color: var(--color-lightblue);
    transition: var(--transition-transform-color);
}

.project:hover {
    transform: var(--transform-smaller);
    transition: var(--transition-transform-color);
}

.project:hover p, .project:hover a {
    color: var(--color-white);
    transition: var(--transition-transform-color);
}

.project-slider-container {
    position: relative;
    width: 500px;
    height: 240px;
    overflow: hidden;
    border-radius: 10px;
}

.project-slider {
    display: flex;
    transition: var(--transition-transform-color);
}

.project-slider img {
    width: 500px;
    height: 240px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    background: none;
    top: 50%;
    font-size: 24px;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.arrow:hover {
    transform: var(--transform-bigger);
    transition: var(--transition-transform-color);
}

.icon {
    margin-top: 4px;
}