.about-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

.about-text {
    max-width: 660px;
    text-align: justify;
    transition: var(--transition-transform-color);
}

.about-text:hover p{
    transition: var(--transition-transform-color);
    color: var(--color-white);
}

.about-image img {
    width: 260px;
    height: auto;
    border-radius: 10px;
    transition: var(--transition-transform-color);
}

.about-image img:hover {
    transform: var(--transform-bigger);
    transition: var(--transition-transform-color);
}
