#about {
  padding: var(--section-padding) var(--container-padding);
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-xl);
  flex-wrap: wrap;
}

.about-left {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  transform: translateY(0);
  transition: transform var(--transition-normal);
}

.about-left:hover {
  transform: var(--transform-move-up);
}

.about-left:hover .about-text p {
  color: var(--color-white);
  opacity: 1;
}

.about-heading-block h1 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.about-hi {
  font-size: 3rem;
  font-weight: var(--font-heavy);
}

.about-typing {
  position: relative;
  font-size: 3rem;
  font-weight: var(--font-heavy);
  min-height: var(--font-xxl);
  color: var(--color-lightblue);
  white-space: nowrap;
}

.about-typing .ghost {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.about-text {
  font-size: var(--font-base);
  line-height: 1.7rem;
  text-align: left;
}

.about-text p {
  transition: color var(--transition-normal);
}

.contact-method {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  margin-top: 20px;
}

.slide-link {
  position: relative;
  width: 150px;
  height: 46px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.slide-content {
  position: absolute;
  inset: 0;
  background: var(--color-grey);
  color: var(--color-lightblue);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-sm);

  font-size: var(--font-sm);
  font-weight: var(--font-heavy);

  transition: transform var(--transition-normal);
}

.slide-content .link-icon {
  font-size: 1.4rem;
}

.slide-link::before {
  content: attr(data-hover);
  position: absolute;
  inset: 0;

  background: var(--color-lightblue);
  color: var(--color-grey);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--font-sm);
  font-weight: var(--font-heavy);

  transform: translateX(-100%);
  transition: transform var(--transition-normal);
}

.slide-link:hover .slide-content {
  transform: translateX(100%);
}

.slide-link:hover::before {
  transform: translateX(0);
}

.about-right img {
  width: 400px;
  height: auto;
  transition: var(--transition-normal);
}

.about-main-title {
  font-size: var(--font-xxl);
  font-weight: var(--font-heavy);
  line-height: var(--font-xxl);
  color: var(--color-lightgrey);

  margin-bottom: var(--space-lg);
  text-align: left;
}

@media (max-width: 1200px) {
  #about {
    padding: 80px 60px;
  }

  .about-hi,
  .about-typing {
    font-size: 2.5rem;
  }

  .about-container {
    flex-direction: column;
    gap: var(--space-xl);
  }

  .about-left {
    width: 100%;
  }

  .about-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  #about {
    padding: 60px 30px;
  }
}
