.contact-method {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--color-black);
    transition: var(--transition-transform-color);
}

.contact-button a:hover {
    color: var(--color-lightblue);
    transform: var(--transform-bigger);
    transition: var(--transition-transform-color);
}

.icon {
    margin-top: 4px;
}