.contact-button {
    margin: 6px;
    margin-top: 10px;
}

.contact-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    background-color: black;
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.contact-button a:hover {
    color: lightblue;
    transform: scale(1.05);
    cursor: pointer;
}

.contact-method {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;
}

.icon {
    margin-top: 4px;
}