.navbar {
    padding: 10px 20px;
    top: 0;
    z-index: 1000; 
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.navbar a {
    font-weight: bold;
}

.navbar-icon {
    display: none;
    font-size: 1.8rem;
}

.navbar-links {
    display: flex;
    gap: 70px;
}

.navbar-links a {
    padding: 10px 20px;
    color: var(--color-white);
    transition: var(--transition-transform-color);
}

.navbar-links a:hover {
    color: var(--color-lightblue);
    transform: var(--transform-bigger);
    transition: var(--transition-transform-color);
}

@media (max-width: 800px) {
    .navbar {
        background: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0.5) 15%, rgba(0,0,0,0) 25%);
    }
    
    .navbar-links {
        position: fixed;
        top: 57px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 0px;
        background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
        transition: left 0.3s ease-in-out;
    }

    .navbar-links.active {
        left: 0px;
    }

    .navbar-icon {
        display: block;
        padding: 0px;
        text-align: left;
        left: -100%;
        width: 100%;
    }
}