.navbar {
  padding: var(--space-sm) var(--container-padding-mobile);
  position: sticky;
  top: 0;
  z-index: var(--z-nav);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: var(--space-md);
}

.navbar-links a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 40px;

  overflow: hidden;
  padding: 0 var(--space-sm);
  margin: 0;

  font-size: var(--font-sm);
  font-weight: var(--font-heavy);
  text-transform: uppercase;

  color: var(--color-lightblue);
  transition: var(--transition-base);
}

.nav-text {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: transform var(--transition-normal);
}

.navbar-links a::before {
  content: attr(data-hover);
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-100%);
  transition: transform var(--transition-normal);

  color: var(--color-white);
  text-transform: uppercase;
}

.navbar-links a:hover .nav-text {
  transform: translateX(100%);
}

.navbar-links a:hover::before {
  transform: translateX(0);
}

.navbar-icon {
  display: none;
  font-size: 1.8rem;
}

.nav-overlay {
  position: fixed;
  inset: 0;
  z-index: 1500;
}

.navbar-links {
  z-index: 2000;
}
.navbar-icon {
  z-index: 2001;
}

@media (max-width: 900px) {
  .navbar {
    justify-content: space-between;
    padding: 20px;
  }

  .navbar-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-white);
  }

  .navbar-links {
    position: fixed;
    left: -100%;
    top: 50px;

    display: flex;
    flex-direction: column;
    gap: 0px;

    width: 15%;
    height: 100vh;

    background: black;
    padding: 20px;

    transition: left var(--transition-normal);
  }

  .navbar-links.active {
    left: 0;
  }

  .navbar-links a {
    width: 100%;
    height: 36px;
    font-size: 0.9rem;
    justify-content: flex-start;
    overflow: hidden;
  }

  .nav-text {
    justify-content: flex-start;
    transform: translateX(0);
  }

  .navbar-links a::before {
    transform: translateX(-100%);
    justify-content: flex-start;
  }

  .navbar-links a:hover .nav-text {
    transform: translateX(100%);
  }

  .navbar-links a:hover::before {
    transform: translateX(0);
  }
}
