.loading-container {
  position: fixed;
  inset: 0;
  color: #b0b0b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-text {
  font-size: 4rem;
  font-weight: var(--font-heavy);
  margin-bottom: 20px;
}

.loading-bar {
  width: 60%;
  height: 6px;
  background: #3b3b3b;
  border-radius: 50px;
  overflow: hidden;
}

.loading-progress {
  height: 100%;
  background: linear-gradient(90deg, #b8ddff, #ffffff);
  border-radius: 50px;
  transition: width 0.1s ease-out;
}
