#intro {
  position: relative;
  height: 90vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12rem;
  font-weight: var(--font-heavy);
  line-height: 10rem;
  pointer-events: none;
}

.faded {
  color: var(--color-grey);
}

.normal {
  color: var(--color-lightgrey);
}

.intro-center {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-logo {
  width: 400px;
  height: 400px;
  border-radius: var(--radius-round);
  object-fit: cover;
  transition: transform var(--transition-fast);
}

@media (max-width: 1200px) {
  .background-text {
    font-size: 9rem;
    line-height: 7.5rem;
  }

  .intro-logo {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 900px) {
  .background-text {
    font-size: 7rem;
    line-height: 5.8rem;
  }

  .intro-logo {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 700px) {
  .background-text {
    font-size: 5rem;
    line-height: 4.2rem;
  }

  .intro-logo {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 500px) {
  .background-text {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .intro-logo {
    width: 110px;
    height: 110px;
  }
}
