.intro-image img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 20px;
    transition: var(--transition-transform-color);
}

.intro-image img:hover {
    transform: var(--transform-bigger);
    transition: var(--transition-transform-color);
}

h1 {
    margin: -5px;
    font-size: 4.5rem;
}

.phrase {
    color: var(--color-lightblue);
    min-height: 5.75rem;
    display: inline-block;
    transition: opacity 0.5s ease;
}
