.experience {
    border-left: 5px solid lightblue;
    transition: var(--transition-transform-color);
    margin: 0 auto;
    max-width: 1000px;
    padding: 0px 40px;
}

.experience-text, .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    text-align: justify;
    color: #ccc;
}

.job-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.job-time {
    font-style: italic;
}

.job-description ul{
    margin: 5px auto;
}

.experience-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.experience:hover {
    transform: var(--transform-move-right);
    transition: var(--transition-transform-color);
}

.experience:hover .job-title {
    color: var(--color-lightblue);
    transition: var(--transition-transform-color);
}

.experience:hover p {
    color: var(--color-white);
    transition: var(--transition-transform-color);
}

